
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Username")
        @Html.TextBox("username", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Password")
        @Html.Password("password", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
}

@Html.ValidationSummary(true, "", new { @class = "alert alert-danger custom-error-message" })

