@model CRS.ViewModels.CodeReviewDetailsViewModel

@{
    ViewBag.Title = "Code Review Details";
}


<h3>Original Submitted Code</h3>
<pre><code>@Html.Raw(Model.OriginalCode)</code></pre>

<hr />

<h3>Properly Indented Code</h3>
<pre><code>@Html.Raw(Model.IndentedCode)</code></pre>

@*<h3>Suggestions</h3>
<ul>
    @foreach (var suggestion in Model.Suggestions)
    {
        if (suggestion.SuggestionType == "AI Generated Correction")
        {
            <li>
                <strong>@suggestion.SuggestionType:</strong>
                <pre><code>@Html.Raw(suggestion.SuggestionText)</code></pre>
            </li>
        }
        else
        {
            <li>
                <strong>@suggestion.SuggestionType:</strong> @Html.Raw(suggestion.SuggestionText)
            </li>
        }
    }
</ul>*@