@model CRS.Models.CodeSubmission

@{
    ViewBag.Title = "Submit Code";
}


@using (Html.BeginForm("SubmitCode", "CodeReview", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.CodeSnippet)
        @Html.TextAreaFor(m => m.CodeSnippet, new { @class = "form-control", rows = 10 })
        @Html.ValidationMessageFor(m => m.CodeSnippet)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Language)
        @Html.DropDownListFor(m => m.Language, (IEnumerable<SelectListItem>)ViewBag.Languages, "Select a language", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Language)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    if (ViewBag.ErrorMessage != null)
    {
        <p style="color: red;">@ViewBag.ErrorMessage</p>
    }
}